*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
    background: #f3a11d;

    color:#401A0D;
    font-family: american typewriter;
    font-size: medium;
    border: 5px green;
    padding: 5px;
    margin-top: 70px;
    border-radius: 100px;

}

h1{
    border-radius: 15px;
    background-color: #8FA690;
    color: #401A0D;
}
img {
    max-width: 100%;
}

li {
    color: #401A0D;
}

nav ul {
    color: #BF8049;
display: flex;
}

nav ul li {
    background-color: #8FA690;
    color: #401A0D;
    display: flex; align-items: center;
}

nav ul {
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    flex-basis: 300vw;
}

nav li img{
    width: 150px;
    height: 150px;
}

main img {
    width: 400px;
    height: 500px;
}

footer {
    background-color: #8FA690;
    color: #401A0D;
    display: flex;
    justify-content: center;
}

head title {
    text-align: center;
}

main img{
    display: flex;
    justify-content: space-around;
}